@import "/src/styles/variables";

.sort-filter-container {
  background-color: rgba(34, 36, 36, 0.144);
  height: 100px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $blue;
}
