@import "/src/styles/extends";
@import "/src/styles/variables";

.character {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  border-radius: 6px;

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    height: 250px;
  }

  &__title {
    font-family: $fontNameCharacter;
    font-size: 18px;
    color: #fff;
    margin: 0;
    text-align: center;
    width: 140px;
    height: 56px;
  }

  &__image {
    height: 180px;
    width: 130px;
    margin-top: 5px;
    border: 3px solid black;
    transition: transform 5s;
  }

  &__image:hover {
    transform: rotateY(180deg);
    transition: transform 2s;
  }

  &__link {
    text-decoration: none;
    margin-top: 10px;
    text-align: center;
    height: 25px;
    width: 100px;
    font-family: $fontDescription;
    font-size: 20px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 16px;
    transition: border 1s, color 1s, transform 1s;
  }

  &__link:hover {
    border: 2px solid $red;
    color: $red;
    transition: border 1s, color 1s, transform 1s;
  }
}
