@import "/src/styles/extends";
@import "/src/styles/variables";

.character {
  @extend %flex-column-center;

  &__title {
    text-align: center;
    font-family: $fontNameCharacter;
  }

  &__info {
    @extend %flex-column-center;
  }

  &__image {
    height: 180px;
    width: 180px;
    border-radius: 10px;
  }
}
