@import url("https://fonts.googleapis.com/css2?family=Cousine&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Niconne&display=swap");

/* COLORS */
$red: #e20512;
$blue: #2d3195;
$blueBack: #2d31952b;

/*FONT*/
$fontTitle: "Niconne", cursive;
$fontNameCharacter: "Cousine", Courier, Arial, monospace;
$fontSizeTitle: 24px;
$fontButton: "Source Code Pro", monospace;
$fontDescription: "Montserrat", sans-serif;
$fontCaracteristics: "Cormorant Garamond", serif;
