@import url("https://fonts.googleapis.com/css2?family=Cousine&display=swap");

/* COLORS */
$red: #e20512;
$blue: #2d3195;

/*FONT*/
$fontNameCharacter: "Cousine", Courier, Arial, monospace;
$fontSizeTitle: 24px;
