@import "/src/styles/extends";
@import "/src/styles/variables";

.filter {
  margin-top: 10px;
  padding: 10px;
  @extend %flex-column-center;

  &__label {
    color: #fff;
    font-size: 22px;
    font-family: $fontDescription;
  }

  &__input {
    width: 90%;
    height: 30px;
    border-radius: 20px;
    margin-top: 10px;
  }
}
