@import "/src/styles/extends";
@import "/src/styles/variables";

.header {
  text-align: center;

  &__title {
    color: $blue;
    font-size: 50px;
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid $blue;
    font-family: $fontTitle;
    letter-spacing: 2px;
  }
}
