.App {
  background: rgb(9, 9, 80);
  background: linear-gradient(
    90deg,
    rgba(9, 9, 80, 1) 0%,
    rgba(9, 9, 112, 1) 35%,
    rgba(9, 9, 144, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  width: 100vw;
}
